gym
-e git://github.com/atremblay/gym-cribbage.git@4c16dd5bc0ad9c4c45ca7d878e250ab587dfb5ba#egg=gym-cribbage
torchvision
pyyaml
matplotlib
tqdm
-e git://github.com/gbmarc1/poutyne.git@1fd11e2337635f813b92c948d952f6a2291b3db0#egg=poutyne
sklearn
