gym
-e git://github.com/atremblay/gym-cribbage.git@376264688dc1c2874636e88bb66b486bc49c1b31#egg=gym-cribbage
torchvision
pyyaml
matplotlib
tqdm
-e git://github.com/gbmarc1/poutyne.git@1fd11e2337635f813b92c948d952f6a2291b3db0#egg=poutyne
sklearn
